body {
    margin: 0px;
    font-family: "roboto slab" serif;
}

.jumbotron {
    background-image: url("background.jpg");
    background-size: cover;
    height: 500px;
}

.btn-primary {
    background-color: lightsalmon;
    border-radius: 10px;
    /* box-shadow: 0px 2px 10px black !important; */
}

.btn-primary:hover {
    background-color: rgba(167, 72, 21, 0.922);
}

.footer {
    line-height: 50px;
}
